.contato {
  background-color: #edeae1;
  padding-top: 40px;
}

.contato .tt,
.contato .txt {
  font-family: 'GeosansLight';
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
}

.contato .tt {
  font-size: 25px;
  line-height: 25px;
  margin-top: 30px;
}

.contato .txt {
  font-size: 16px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contato .form-control {
  height: 60px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #9c8d53;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Avenir Next LT Pro';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #9e8e52;
}

.contato .form-group {
  margin-bottom: 10px;
}

.contato textarea {
  height: 329px !important;
}

.contato label {
  font-size: 13px;
  line-height: 13px;
  font-family: 'Avenir Next LT Pro';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #9e8e52;
  margin-bottom: 0;
}

.contato .btn_enviar {
  width: 100%;
  background-color: #36463e;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Avenir Next LT Pro';
  font-weight: normal;
  font-style: normal;
  padding: 12px;
  border: 0px solid transparent;
  border-radius: 0px;
}

.contato .dt {
  height: 44px;
  background-color: #9e8e52;
}

footer {
  background-color: #edeae1;
  padding-top: 45px;
  padding-bottom: 30px;
}

footer figcaption {
  font-family: 'GeosansLight';
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
  margin-top: 15px;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 20px;
}

footer .navbar-nav {
  margin-top: 20px;
}

footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  border-right: 1px solid #000;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

.home-form {
  width: 100%;
  background-color: rgba(158, 142, 82, 0.6);
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-form .form-control {
  height: 35px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Avenir Next LT Pro';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #9e8e52;
}

.home-form .form-control::-webkit-input-placeholder {
  color: #9e8e52;
}

.home-form .form-control:-ms-input-placeholder {
  color: #9e8e52;
}

.home-form .form-control::-ms-input-placeholder {
  color: #9e8e52;
}

.home-form .form-control::placeholder {
  color: #9e8e52;
}

.home-form .tt p {
  font-family: 'Avenir Next LT Pro';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
}

.home-form .btn_home_enviar {
  width: 100%;
  background-color: #9b3556;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Avenir Next LT Pro';
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  padding: 9px 10px;
  border: 0px solid transparent;
  border-radius: 2px;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato textarea {
    height: 150px !important;
  }
  footer p {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=contato.css.map */