.faixaHome {
    background-color: #9e8e52;
    padding: 12px 0 12px 0;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        line-height: 26px;
    }
}

.boxLogo {
    background: url(../images/bg-logo.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
        line-height: 13px;
        margin-top: 15px;
    }

    .filme {
        position: relative;

        a {
            position: absolute;
            bottom: -16%;
            right: 5%;
        }
    }
}

.info-home {
    background-color: #edeae1;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-top: -5px;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #000;
        text-transform: uppercase;
        font-size: 12.5px;
        line-height: 30px;
        text-align: justify;
    }

    .box-info-home {
        margin-top: 50px;
    }
}

.fundoFolha {
    background: url(../images/bg-folha.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
        line-height: 45px;
    }
}

/* Extra Small */
@media(max-width:767px) {
    .faixaHome {

        p {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 1px;
        }

    }

    .boxLogo {
        padding-top: 10px;
        padding-bottom: 10px;

        img {
            max-width: 40%;
        }

        .filme {
            a {
                /* top: -10%;
                left: 46%;
                right: -21%; */
                top: -10%;
                right: 0%;
                max-width: 70%;
            }

            .filme-img {
                margin-right: 1%;
            }
        }
    }

    .info-home {
        padding-top: 20px;
        padding-bottom: 0px;

        p {
            font-size: 10px;
            line-height: 20px;
            text-align: justify;
        }

        .box-info-home {
            margin-top: 20px;

            .col-xs-4 {
                margin-bottom: 30px;
            }
        }
    }

    .fundoFolha {
        padding-top: 30px;
        padding-bottom: 30px;

        p {
            letter-spacing: 1px;
            font-size: 13px;
            line-height: 23px;
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {
    .boxLogo { 
        .filme 
        
        a {
            right: 0%;
            left: 75%;
        }
    }
    
    .info-home {
        padding-top: 20px;
        padding-bottom: 0px;

        .box-info-home {
            margin-top: 20px;

            .col-xs-4 {
                margin-bottom: 30px;
            }
        }
    }

    .fundoFolha {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {
    .boxLogo { 
        .filme 
        
        a {
            right: 2%;
        }
    }
    
    .info-home {
        p {
            font-size: 10.5px;
            line-height: 30px;
        }
    }
}

/* Large */
@media(min-width:1200px) {}