.politica {
    background-color: #edeae1;

    .politica-tt {
        background-color: #9e8e52;
        padding-top: 20px;
        padding-bottom: 20px;

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-style: normal;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 35px;
            line-height: 35px;
            margin: 0;
            padding: 0;
        }
    }

    .politica-info {
        margin-top: 30px;

        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-style: normal;
            color: #000;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 10px;

            a {
                color: #EC2c27;
                text-decoration: underline;
            }
        }
    }
}


/* Extra Small */

@media(max-width:767px) {
    .politica {
        .politica-tt {
            h3 {
                font-size: 25px;
                line-height: 25px;
            }
        }
    }
}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}