@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeosansLight';
  src: url("../fonts/GeosansLight.eot");
  src: url("../fonts/GeosansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GeosansLight.woff2") format("woff2"), url("../fonts/GeosansLight.woff") format("woff"), url("../fonts/GeosansLight.ttf") format("truetype"), url("../fonts/GeosansLight.svg#GeosansLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.woff2") format("woff2"), url("../fonts/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro-Regular.ttf") format("truetype"), url("../fonts/MinionPro-Regular.svg#MinionPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../fonts/AvenirNextLTPro-It.eot");
  src: url("../fonts/AvenirNextLTPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-It.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-It.woff") format("woff"), url("../fonts/AvenirNextLTPro-It.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-It.svg#AvenirNextLTPro-It") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../fonts/AvenirNextLTPro-Bold.eot");
  src: url("../fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../fonts/AvenirNextLTPro-Regular.eot");
  src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  overflow-x: hidden;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #9b3556;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Avenir Next LT Pro';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #9e8e52;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
}

.cookies .box p {
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box p a {
  text-decoration: underline;
  color: #fff;
}

.cookies .box .btn_cookie {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #9b3556;
}

/* Extra Small */
@media (max-width: 767px) {
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
}

.faixaHome {
  background-color: #9e8e52;
  padding: 12px 0 12px 0;
}

.faixaHome p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 16px;
}

.boxLogo {
  background: url(../images/bg-logo.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-home {
  background-color: #edeae1;
  padding-top: 50px;
  padding-bottom: 70px;
  margin-top: -5px;
}

.info-home p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 12.5px;
  line-height: 30px;
  text-align: justify;
}

.info-home .box-info-home {
  margin-top: 50px;
}

.fundoFolha {
  background: url(../images/bg-folha.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

.fundoFolha p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 45px;
}

/* Extra Small */
@media (max-width: 767px) {
  .faixaHome p {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
  }
  .boxLogo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .boxLogo img {
    max-width: 40%;
  }
  .info-home {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .info-home p {
    font-size: 10px;
    line-height: 20px;
    text-align: justify;
  }
  .info-home .box-info-home {
    margin-top: 20px;
  }
  .info-home .box-info-home .col-xs-4 {
    margin-bottom: 30px;
  }
  .fundoFolha {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .fundoFolha p {
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 23px;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .info-home {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .info-home .box-info-home {
    margin-top: 20px;
  }
  .info-home .box-info-home .col-xs-4 {
    margin-bottom: 30px;
  }
  .fundoFolha {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .info-home p {
    font-size: 10.5px;
    line-height: 30px;
  }
}

/* Large */
.lazer {
  background-color: #9e8e52;
  padding-top: 60px;
  padding-bottom: 30px;
}

.lazer .tt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 45px;
  margin-bottom: 50px;
}

.lazer .img-lazer {
  margin-bottom: 30px;
}

.boxTexto {
  background: url(../images/bg-logo.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

.boxTexto p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 45px;
}

.galeria-fotos {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #91834a;
}

.galeria-fotos .tt {
  padding-bottom: 30px;
}

.galeria-fotos .tt p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 35px;
}

.fundoFolha-2 {
  background: url(../images/bg-folha.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

.fundoFolha-2 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 45px;
}

.projeto {
  background-color: #9e8e52;
  padding-top: 100px;
  padding-bottom: 100px;
}

.projeto .media-object {
  width: 200px;
}

.projeto p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 26px;
}

.projeto .video {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ccc877;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  margin-top: 15px;
  display: table;
  background-color: #0e201f;
}

.projeto a:hover {
  text-decoration: none;
}

/* Extra Small */
@media (max-width: 767px) {
  .lazer {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .lazer .tt {
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .lazer .img-lazer {
    margin-bottom: 20px;
  }
  .boxTexto {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .boxTexto p {
    letter-spacing: 0px;
    font-size: 12px;
    line-height: 22px;
  }
  .galeria-fotos {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .galeria-fotos .tt {
    padding-bottom: 20px;
  }
  .galeria-fotos .tt p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
  }
  .fundoFolha-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .fundoFolha-2 p {
    letter-spacing: 0px;
    font-size: 12px;
    line-height: 22px;
  }
  .projeto {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .projeto .media-object {
    width: 150px;
  }
  .projeto p {
    letter-spacing: 1px;
    font-size: 8px;
    line-height: 15px;
  }
  .projeto a {
    font-size: 9px;
    line-height: 9px;
    margin-top: 15px;
  }
}

/* Small */
/* Medium */
/* Large */
.contato {
  background-color: #edeae1;
  padding-top: 40px;
}

.contato .tt,
.contato .txt {
  font-family: 'GeosansLight';
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
}

.contato .tt {
  font-size: 25px;
  line-height: 25px;
  margin-top: 30px;
}

.contato .txt {
  font-size: 16px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contato .form-control {
  height: 60px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #9c8d53;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Avenir Next LT Pro';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #9e8e52;
}

.contato .form-group {
  margin-bottom: 10px;
}

.contato textarea {
  height: 329px !important;
}

.contato label {
  font-size: 13px;
  line-height: 13px;
  font-family: 'Avenir Next LT Pro';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #9e8e52;
  margin-bottom: 0;
}

.contato .btn_enviar {
  width: 100%;
  background-color: #36463e;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Avenir Next LT Pro';
  font-weight: normal;
  font-style: normal;
  padding: 12px;
  border: 0px solid transparent;
  border-radius: 0px;
}

.contato .dt {
  height: 44px;
  background-color: #9e8e52;
}

footer {
  background-color: #edeae1;
  padding-top: 60px;
  padding-bottom: 30px;
}

footer figcaption {
  font-family: 'GeosansLight';
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  line-height: 17px;
}

footer .navbar-nav {
  margin-top: 20px;
}

footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  border-right: 1px solid #000;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

.home-form {
  width: 100%;
  background-color: rgba(158, 142, 82, 0.6);
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-form .form-control {
  height: 35px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Avenir Next LT Pro';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #9e8e52;
}

.home-form .form-control::-webkit-input-placeholder {
  color: #9e8e52;
}

.home-form .form-control:-ms-input-placeholder {
  color: #9e8e52;
}

.home-form .form-control::-ms-input-placeholder {
  color: #9e8e52;
}

.home-form .form-control::placeholder {
  color: #9e8e52;
}

.home-form .tt p {
  font-family: 'Avenir Next LT Pro';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
}

.home-form .btn_home_enviar {
  width: 100%;
  background-color: #9b3556;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Avenir Next LT Pro';
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  padding: 9px 10px;
  border: 0px solid transparent;
  border-radius: 2px;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato textarea {
    height: 150px !important;
  }
  footer p {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Small */
/* Medium */
/* Large */
.politica {
  background-color: #edeae1;
}

.politica .politica-tt {
  background-color: #9e8e52;
  padding-top: 20px;
  padding-bottom: 20px;
}

.politica .politica-tt h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
@media (max-width: 767px) {
  .politica .politica-tt h3 {
    font-size: 25px;
    line-height: 25px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */